<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0" >

	<display-name>unique-web</display-name>

	<!-- 请求派发器 -->
	<filter>
		<filter-name>dispatcher</filter-name>
		<filter-class>org.unique.web.core.Dispatcher</filter-class>
		<init-param>
			<description>初始化配置文件名称</description>
			<param-name>configPath</param-name>
			<param-value>config.properties</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>dispatcher</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>AAAA</display-name>
		<servlet-name>AAAA</servlet-name>
		<servlet-class>org.unique.maintest.AAAA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AAAA</servlet-name>
		<url-pattern>/AAAA</url-pattern>
	</servlet-mapping>
	
</web-app>